@font-face {
  font-family: 'Star Jedi Hollow';
  src: url('../assets/fonts/StarJediHollow.ttf') format('ttf'),
  url('../assets/fonts/Starjhol.woff2') format('woff2'),
  url('../assets/fonts/StarJediHollow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
//
@font-face {
  font-family: 'News Gothic';
  src: url('../assets/fonts/NewsGothicBT-Bold.woff') format('woff'),
  url('../assets/fonts/NewsGothicBT-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
//
//@font-face {
//  font-family: 'NotoSansArabicRegular';
//  src: url('../assets/fonts/NotoSansArabic-Regular.ttf') format('truetype'),
//  url('../assets/fonts/NotoSansArabic-Regular.woff') format('woff'),
//  url('../assets/fonts/NotoSansArabic-Regular.woff2') format('woff2');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'NotoSansArabicMedium';
//  src: url('../assets/fonts/NotoSansArabic-Medium.ttf') format('truetype'),
//  url('../assets/fonts/NotoSansArabic-Medium.woff') format('woff'),
//  url('../assets/fonts/NotoSansArabic-Medium.woff2') format('woff2');
//  font-weight: 500;
//  font-style: normal;
//  font-display: swap;
//}
