@import "./style/mixins";

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  scroll-behavior: smooth;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  margin: 0;
  &.fixed {
    overflow: hidden;
    height: 100%;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;

  &.no-padding {
    padding: 0;
  }
}

* {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  img {
    width: 100%;
    height: auto;
  }
  img, svg {
    display: block;
  }
  textarea {
    resize: none;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    img {
      border: none;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
}


main {
  overflow: hidden;
  background: url("https://starwarsblog.starwars.com/wp-content/uploads/2020/04/star-wars-backgrounds-25.jpg") no-repeat top;
  background-size: cover;
  max-height: 100vh;
  height: 100vh;
  perspective: 400px;
  transition: background-position 8s;
  &.anim {
    background-position: bottom;
  }
  &:after {
    content: "";
    width: 100%;
    height: 40%;
    z-index: 101;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);;
  }
  .title {
    z-index: 2;
    width: 100%;
    height: 100%;
    .image {

      height: 100%;
      width: 100%;
      span {
        height: 100%;
        display: block !important;
      }
      img {
        @include positionX;
        height: 100%;
        width: auto;
      }
    }
  }
  .startOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    //display: none;
    top: 0;
    left: 0;
    background: #000;
    opacity: 1;
    transition: opacity 1s;
    z-index: 100;
    span {
      color: #2F8498;
      font-family: "News Gothic";
      @include positionCC;
      font-size: 56px;
      opacity: 0;
      transition: opacity 0.5s;
    }
    &.anim {
      span {
        opacity: 1;
      }
      animation: hide 6s forwards;
    }
  }
}

@keyframes hide {
  0% {
      opacity: 1;
  }
  75% {
      opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeAway {
  0% {
    transform: scale(1);
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.title {
  transform-origin: center;
  //display: none;
  &.anim {

    animation: fadeAway 15s forwards;
    animation-delay: 6s;
  }
}
.touch {
  z-index: 1000;
  @include positionCC;
  width: 48px;
  height: 48px;
  opacity: 0.4;
  transform-origin: bottom;
  transform: rotate(0);
  animation: shake 0.8s infinite;
  animation-delay: 1s;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

.text {
  transform: rotateX(45deg) translateZ(1600px) translateX(-50%);
  transform-origin: 50% 100%;
  font-family: "News Gothic";
  text-align: justify;
  color: #FFC702;
  font-size: 140px;
  width: 150%;
  position: absolute;
  top: 300%;
  left: 50%;
  opacity: 0;
  &.anim {

    animation: crawl 60s forwards linear;
    animation-delay: 20s;
  }
  span {
    text-align: center;
    display: block;
  }
}

@keyframes crawl {
  0% {
    top: 300%;
    opacity: 1;
    transform: rotateX(45deg) translateZ(3000px) translateX(-50%);
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -9000px;
    transform: rotateX(45deg) translateZ(-4500px) translateX(-50%);
  }
}

  .planet {
    position: absolute;
    &.first {

      width: 50px;
      height: 50px;
      bottom: -50px;
      left: 15%;
      transition: bottom 6s;
      &.anim {
        bottom: 100%;
      }
    }
    &.second {
      width: 40px;
      height: 40px;
      right: 20%;
      bottom: -40px;
      transition: bottom 4s;
      transition-delay: 3s;
      &.anim {
        bottom: 55%;
      }
    }
  }

  .ship {
    width: 200px;
    height: auto;
    position: absolute;
    bottom: -300px;
    left: 30%;
    transition: 4s;
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0) scale(0.5);
    will-change: transform;
    -webkit-perspective: 1000;
    transition-delay: 3.5s;
    &:after {
      content: "";
      width: 30px;
      height: 3px;
      border-radius: 5px;
      background: red;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      z-index: 2;
      transform: rotate(-20deg);
      transition: opacity 0.4s, transform 2s, bottom 1s;

      transition-delay: 8.5s;
    }
    &.anim {
      bottom: 15%;
      animation: fly 12s forwards;
      animation-delay: 7.7s;
      &:after {
        opacity: 1;
        transform: rotate(-20deg) scale(3) translateY(-200px) translateX(100vw);
      }
    }
  }

  @keyframes fly {
    0%{
    }
    100% {
      transform: scale(5) translateX(300px) translateY(-100px);
    }
  }